
 /* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is above the content */
}

.navbar-light .navbar-toggler {
    color: #030303;
    border-color: rgba(196, 193, 193, 0.878);
}

.navbar-toggler-icon {
    background-color:#242222;
}


.bg-light {
    background-color: #000000 !important;
}

.navbar-nav .nav-link {
    color: rgb(15, 15, 15) !important;
}

.navbar-nav .nav-link.active {
    color: #ffffff !important;
}

.navbar-brand {
    transform: translate(5px, 5px);
}



.navbar-light .navbar-brand {
    color: rgba(223, 218, 218, 0.9);
}

.navbar {
    padding: 10px 20px; /* Adjust padding for top/bottom and sides */
    min-height: 70px;   /* Minimum height of the navbar */
}


.bg-dark {
    background-color: #000000 !important;
  }



/* Navbar Customizations */
.navbar {
    box-shadow: 0 4px 6px #0000001a;
}

.brand-title {
    font-weight: 615;
    color: #e4ecea; /* Highlight color for branding */
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    margin-right: 10px;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #4ecca3 !important; /* Hover color for navbar links */
}


.navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.992);
  }
